.Result {
    margin: 2rem 0;

    a, div {
        margin: 0.5rem 0;
    }

    .row {
        display: flex;
        justify-content: space-between;
        opacity: 0.5;

        .stars {
            display: flex;
            align-items: center;

            .starNum {
                margin-left: 0.25rem;
            }
        }
    }
}